.form {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: 16px auto;
	padding: 1rem;
	&__element {
	margin: 10px 0;
	width: 100%;
	
}
	&__label {
		vertical-align: top;
		width: 20%;
		display: inline-block;
		padding: 10px 5px;
		font-family: $latoBold;
}
	&__input {
		width: 80%;
		padding: 10px 5px;
		margin-bottom: 6px;
	}
	&__btn {
		font-family: $latoBold;
		font-family: $latoBold;
		color: $white;
		border: none;
		width: 20%;
		padding: 10px 5px;
		cursor: pointer;
		&--submit {
			background-color: $blue;
		}
		&--delete {
			background-color: $red;
		}
	}
	&__error {
		color: $red;
		margin-left: 20%;
		margin-top: 5px;
	}
	&__message {
		color: $white;
		padding: 10px;
		display: inline-block;
		border-radius: 5px;
		margin-left: 20%;
		&--success {
			background-color: $blue;

		}
		&--error{
			background-color: $red;
		}
	}

	&__description {
		width: 80%;
		min-height: 150px; 
		padding: 10px 5px;
		font-size: 15px;
	}
	
}